<nav class="left-menu flex-column" role="presentation">
    {{#if @blog.navigation}}
        <div class="d-none d-lg-block">
            {{navigation}}
        </div>
    {{/if}}
    <hr class="d-none d-lg-block"/>
    <div class="d-none d-lg-block">
        <span>Find me on</span>
        <ul class="social_link">
        </ul>
    </div>
    <hr class="d-none d-lg-block" />
    <div class="d-none d-lg-block">
        <span>Common topics</span>
        {{#get "tags" limit="5" include="count.posts" order="count.posts desc" }}
            {{#foreach tags}}
                <a class="nav-link" href="{{url}}"> 
                    <span class="badge badge-secondary">
                        {{name}}
                    </span>
                </a>
            {{/foreach}}
        {{/get}}
    </div>
</nav>