<div class="row">
    <div class="col">
        <nav class="left-menu flex-column">
            <a class="nav-link" href="{{@blog.url}}/tag/readings"> 
                <span class="oi oi-arrow-right" aria-hidden="true"></span>
                Readings
            </a>
            <a class="nav-link" href="{{@blog.url}}/tag/data-structures"> 
                <span class="oi oi-arrow-right" aria-hidden="true"></span>
                Data Structures
            </a>
        </nav>
  </div>
</div>