<nav class="pagination row" role="navigation">
    <div class="col">
      {{#if prev}}
          <a class="next-link" href="{{page_url prev}}">
            <i class="fas fa-angle-double-left"></i> 
            <span class="d-none d-md-inline">Newer</span>
          </a>
      {{/if}}
    </div>
    <div class="col">
      <span>Page {{page}} of {{pages}}</span>
    </div>
    <div class="col">
      {{#if next}}
          <a class="previous-link" href="{{page_url next}}">
            <span class="d-none d-md-inline">Older</span>
            <i class="fas fa-angle-double-right"></i> 
          </a>
      {{/if}}
    </div>
</nav>