{{#if tags}}
    {{#has tag="development"}}
        <span title="development" class="badge badge-primary">development</span>
    {{else}}
        {{#foreach tags}}
            <a href="{{url}}" title="{{name}}">
                <span class="badge badge-secondary">{{name}}</span>
            </a>
        {{/foreach}}
    {{/has}}
{{/if}}