<nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
    {{#if @blog.logo}}
        <a class="navbar-brand" href="/">
            <img src="{{@blog.logo}}" alt="{{@blog.title}}" height="35"/>
        </a>
    {{/if}}
    <span class="navbar-text d-none d-md-inline blog-description">{{@blog.description}}</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsedNavigation" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsedNavigation">
        {{#if @blog.navigation}}
            <div class="navbar-nav mr-auto d-lg-none">
                {{navigation}}
            </div>
        {{/if}}
        <form class="form-inline ml-auto my-2 my-lg-0" id="cse-search-box-form-id" onsubmit="return executeQuery();" role="search">
            <script async type="text/javascript"
            src="//cse.google.com/cse/brand?form=cse-search-box-form-id&inputbox=cse-search-input-box-id">
            </script>
            <input class="form-control mr-sm-2" id="cse-search-input-box-id" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">
                <i class="fas fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</nav>